.nav {
  position: relative;
}
.a {
  .img {
    width: 28.213px;
    height: 31.356px;
    flex-shrink: 0;
    stroke-width: 5px;
    stroke: #fff;
  }
}

.listContainer {
  display: none;
  border: solid 1px;
  overflow: hidden;
  background-color: white;
  position: absolute;
  min-width: 100px;
}
.ul {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: none;
  .li {
    border: solid 1px;
    background-color: white;
    .a {
      text-decoration: none;
    }
  }
}
