.img {
  width: 28.213px;
}

.hidden {
  display: none;
}

.listContainer {
  display: flex;
  border: solid 1px;
  background-color: white;
  position: absolute;
  min-width: 100px;
  top: 74px;
  right: 0;

  .ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;

    .li {
      padding: 0.5em;
      border: solid 1px;
      width: 30vw;
      background: #a92222;
      .a {
        color: white;
        text-decoration: none;
      }
      .a:visited {
        color: white;
      }
    }
  }
}
@media (min-width: 1024px) {
  .listContainer {
    display: initial;
    border: none;
    background-color: transparent;
    position: initial;
  }
  .img {
    display: none;
  }
  .hidden {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: transparent;
    .ul {
      display: flex;
      flex-direction: row;
      list-style: none;

      .li {
        padding: 0 1em;
        border: none;
        width: auto;
        .a {
          color: white;
          text-decoration: none;
        }
        .a:visited {
          color: white;
        }
      }
    }
  }
}
