.header {
  flex-direction: row;
  font-family: Irish Grover, Serif, Sans-serif, Monospace;
  background: #a92222;
  width: 22.5rem;
  height: 4.625rem;
}

.headerH1 {
}

.headerP {
}

.hgroup {
  flex-direction: column;
}
